* {
  font-family: Arial;
  font-size: large;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 550px;
  width: 400px;
  background-color: gray;
  border-radius: 10px;
  border: 3px solid black;
}

.display {
  background-color: gainsboro;
  border-radius: 10px;
  margin: 15px 15px 0px 15px;
  flex: 1;
  border: 3px solid black;
}

.display p {
  margin: 10px 10px 10px 10px;
  font-size: 2.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 3 1 0;
  gap: 15px;
  background-color: gray;
  border-radius: 10px;
  margin: 0px 15px 15px 15px;
}

.top-buttons {
  display: flex;
  flex: 1 1 0;
  gap: 15px;
}

.clear {
  background-color: lightcoral;
}

.delete {
  background-color: lightblue;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  flex: 4 1 0;
  gap: 15px;
}

.row {
  display: flex;
  flex: 1;
  gap: 15px;
}

button {
  flex: 1;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}
